# Binaries
**/bin/
!vendor/bin/premake/
bin-int/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
/Sandbox/HazelProfile-Runtime.json
/Sandbox/HazelProfile-Shutdown.json
/Sandbox/HazelProfile-Startup.json
